.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-areas:
  "l mid r";
  background-color: #575c66;
  color: white;
  font-size: x-large;
  height: 5vh;
  margin: 0 auto;
  align-items: center;
}

.navbar .title {
  grid-area: l;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-stretch: ultra-condensed;
  margin: 0px 20px 0px 20px;
}

.main {
  grid-area: mid;
  display: inline-block;
  width: max-content;
}

.navbar .link {
  color:white;
  font-size: large;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border:none;
  position: relative;
}

a:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0px;
    left: 5%;
    background-color: white;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

a.link:focus:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

a.link:hover {
  font-weight: bolder;

}
.navbar .settings {
  grid-area: r;
  text-decoration: none;
  color: white;
  padding-right: 10px;
  vertical-align: middle;
}

button {
  background-color:#575c66;
  border: none;
  color: white;
  outline-color: white;
}

@media only screen and (max-width: 540px) {
  .navbar {
    height: min-content;
  }

  .navbar .title {
    align-self: flex-start;
    margin-top: 10px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 330px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

  .navbar .title {
    margin-left: 5px;
  }

  .navbar .settings {
    margin-top: 0px;
  }
}

.main-container {
  display: flex;
  background-color: #282c34;
  text-align: center;
  height: 90vh;
  margin: 2vh auto;
  justify-content: center;
  max-width: 95vh;
}