.login {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 95%;
  padding: 5px;
  color: white;
  z-index: 1;
}

.login .h1 {
  font-size: calc(30px + 2vmin);
  vertical-align: middle;
  animation: fadeIn ease-in 3s;
  animation-fill-mode: forwards;
}

.login .h2 {
  opacity: 0;
  font-size: calc(5px + 2vmin);
  font-weight: lighter;
  min-height: 10vh;
  vertical-align: middle;
  animation: fadeIn ease-in 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.entry-row {
  display: flex;
  margin: 10px;
  align-items: center;
}

.textfield {
  height: 2.5vh;
}

.space {
  width: 2vw;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: inherit;
  color: #84ceeb;
}

.tooltip .infobox {
  visibility: hidden;
  height: 0px;
  width: 200px;
  background-color: rgb(146, 143, 143, 0.5);
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  border: 3px solid #84ceeb;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  color: white;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .material-icons {
  color: "#84ceeb";
}

.tooltip:hover .material-icons {
  color: "#84ceeb";
}

.error {
  color: red;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
  background-color: gray;
  height: 4h;
  padding: 10px;
  cursor: pointer;
  color: white;
  outline: none;
  margin: 0px 10px 0px 10px;
}

.btn:hover {
  background-color: white;
  color: gray;
}

button:focus {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: max-content;
  }
}
